# Simulation time
TICKS = 100

# The height of the field
HEIGHT = 50

# The width of the field.
WIDTH = 50

# The maximum amount of grain a patch can hold.
MAX_GRAIN = 50

# The percentage of patches that filled with full amount of grain initially.
PERCENT_BEST_LAND = 0.1

# The number of people initially on on the field.
NUM_PEOPLE = 250

# The minimum life expectancy of a individual.
LIFE_EXPECTANCY_MIN = 1

# The maximum life expectancy of a individual.
LIFE_EXPECTANCY_MAX = 83

# The maximum amount of grain a individual can consume per day.
METABOLISM_MAX = 15

# The amount of patches that a individual can see.
MAX_VISION = 5

# The interval for a patch to growth grain.
GRAIN_GROWTH_INTERVAL = 1

# The amount of grain each time a patch can grow.
NUM_GRAIN_GROWN = 4
